.container
  .row
    .col-md-2
      .list-group-item
        h4.list-group-item-heading Github
        p.list-group-item-text clone UI-UF
    .col-md-4
      .list-group-item
        h4.list-group-item-heading Status
        p.list-group-item-text Alpha
    .col-md-4
      .list-group-item
        h4.list-group-item-heading Credits
        p.list-group-item-text Your name here
    .col-md-2
      .list-group-item
        h4.list-group-item-heading NPM
        p.list-group-item-text npm install uf
